
<div class="main">
    
  <div>
   
<section>
<div class="middle"  mat-dialog-content>
      <div id="login">

        <form action="javascript:void(0);" method="get"  [formGroup]="loginForm">

          <fieldset class="clearfix">

            <p><span class="fa fa-envelope"></span><input type="text"  Placeholder="כתובת מייל" required formControlName="email"></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fa fa-lock"></span><input type="password"  Placeholder="סיסמה" required formControlName="password"></p> <!-- JS because of IE support; better: placeholder="Password" -->
            
             <div>
                   <span style="width:50%; text-align:left;  display: inline-block;"><input (click)="newUser()" type="submit" value="משתמש חדש"></span>
                    <span style="width:50%; text-align:right;  display: inline-block;"><input (click)="login()" type="submit"  value="התחברות"></span>
                    
             </div>
             <div>
                 <br>
                <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">שכחתי סיסמה</a></span>
            </div>
          </fieldset>
<div class="clearfix"></div>
        </form>

        <div class="clearfix"></div>

      </div> <!-- end login -->
      <div class="logo">
          <img id="imglogo" src="\assets\p1.jpg">  
          <div class="clearfix">
          
          </div>
      </div>
      
      </div>
</section>
  </div>

</div>